@model MesTaches.ViewModels.TachesProjetsViewModel
@{
    ViewBag.Title = "Home Page";
}
@foreach (var proj in Model.Projets)
{
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@proj.Name</h3>
            </div>

            <div class="panel-body">
                <table class="table table-striped">
                   
                    <tbody>
        @foreach (var task in Model.Taches.Where(t => t.ProjetId == proj.Id))
        {
                    <tr class="row">
                        <td class="col-lg-1"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        <td class="col-md-6">@task.Name</td>
                        <td class="col-lg-1">
                            <button class="btn btn-primary">Fini</button>
                        </td>
                        <td class="col-md-2">@task.User.Name</td>
                        <td class="col-md-2">@task.User.Email</td>
                    </tr>
        }
            </tbody>
                </table>
            </div>
        </div>
}
