@model IEnumerable<MesTaches.Models.Tache>
@{
    ViewBag.Title = "MesTaches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MesTaches</h2>
<div>
    @*<h4>Projet</h4>*@
    <hr />
    @foreach (var t in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @t.Name
            </dt>

            <dd>
                @t.Projet.Name
            </dd>

        </dl>
    }
</div>

