@model IEnumerable<MesTaches.Models.Tache>
@{
    ViewBag.Title = "MesTaches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MesTaches</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tache</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Projet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Name</td>
                <td>@task.CreateDT</td>
                <td>@task.EndDT</td>
                <td>@task.Projet.Name</td>
            </tr>
            <div class="action">
                <a href="#">Edit</a>
            </div>
        }
    </tbody>
</table>
